In [1]:
#importing necessary libraries
import pandas as pd
from pandas import read_csv
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Reading data from the 'Drug.csv' file into a DataFrame
filename = 'Drug.csv'
data = pd.read_csv(filename)

# Displaying the first few rows of the DataFrame
data.head()

                                                Drug Disease Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm    Acne   Male   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...    Acne   Male   23
2                             ACGEL CL NANO Gel 15gm    Acne   Male   23
3                                ACGEL NANO Gel 15gm    Acne   Male   23
4                              Acleen 1% Lotion 25ml    Acne   Male   23

In [3]:
# Displaying the data types of the columns in the DataFrame
data.dtypes

Drug       object
Disease    object
Gender     object
Age         int64
dtype: object

In [4]:
# Retrieving the dimensions of the DataFrame
data.shape

(4955, 4)

In [5]:
# Calculating the sum of missing values for each column in the DataFrame
data.isnull().sum()

Drug       0
Disease    0
Gender     0
Age        0
dtype: int64

In [6]:
# Replacing values in the 'Gender' column with numerical values
data.replace({'Gender': {'Female': 0, 'Male': 1}}, inplace=True)

In [7]:
# Selecting the 'Disease' column and assigning it to the variable 'x'
x = data[['Disease']]

In [8]:
# Retrieving unique values from the 'Disease' column
x['Disease'].unique()

array(['Acne', 'Allergy', 'Diabetes', 'Fungal infection',
       'Urinary tract infection', 'Malaria', 'Migraine', 'Hepatitis B',
       'AIDS'], dtype=object)

In [9]:
# Replacing values in the 'Disease' column with numerical values
data.replace({'Disease': {'Acne': 0, 'Allergy': 1, 'Diabetes': 2, 'Fungal infection': 3,
       'Urinary tract infection': 4, 'Malaria': 5, 'Migraine': 6, 'Hepatitis B': 7,
       'AIDS': 8}}, inplace=True)

In [10]:
data.head()

                                                Drug  Disease  Gender  Age
0               A CN Gel(Topical) 20gmA CN Soap 75gm        0       1   23
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...        0       1   23
2                             ACGEL CL NANO Gel 15gm        0       1   23
3                                ACGEL NANO Gel 15gm        0       1   23
4                              Acleen 1% Lotion 25ml        0       1   23

In [11]:
data.dtypes

Drug       object
Disease     int64
Gender      int64
Age         int64
dtype: object

In [14]:
# Creating new DataFrames df_x and df_y for feature variables and the target variable, respectively
df_x = data[['Disease', 'Gender', 'Age']]  # Features
df_y = data[['Drug']]                      # Target

In [15]:
# Displaying the first few rows of the feature DataFrame df_x
df_x.head()

   Disease  Gender  Age
0        0       1   23
1        0       1   23
2        0       1   23
3        0       1   23
4        0       1   23

In [16]:
# Displaying the first few rows of the target DataFrame df_y
df_y.head()

                                                Drug
0               A CN Gel(Topical) 20gmA CN Soap 75gm
1  A Ret 0.05% Gel 20gmA Ret 0.1% Gel 20gmA Ret 0...
2                             ACGEL CL NANO Gel 15gm
3                                ACGEL NANO Gel 15gm
4                              Acleen 1% Lotion 25ml

In [17]:
# Splitting the data into training and testing sets
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_x, df_y, test_size=0.2, random_state=0)

In [18]:
# Displaying the first few rows of the training feature set x_train
x_train.head()

      Disease  Gender  Age
2150        2       1   23
167         0       0   20
3188        2       0   23
844         1       0   23
4129        3       0   37

In [19]:
# Displaying the first few rows of the training target set y_train
y_train.head()

                                                   Drug
2150  Glycinorm Total 30mg Tablet 10'SGlycinorm Tota...
167                             Dersol BH Ointment 30gm
3188            Wosulin New 30/70 100IU Cartridge 3X3ml
844                              Lejet M JR Tablet 10'S
4129  Zocon 50mg Tablet 4'SZocon Transgel 15gmZocon ...

Random Forest Classifier

In [22]:
# Training a Random Forest classifier and fitting it to the data
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf = rf.fit(df_x, np.ravel(df_y))

In [23]:
# Computing and printing the accuracy of the Random Forest classifier on the test data
from sklearn.metrics import accuracy_score
y_pred = rf.predict(x_test)
print(accuracy_score(y_test, y_pred))
print(accuracy_score(y_test, y_pred, normalize=False))

0.044399596367305755
44